%html
  %head
    %title iPhone Text Messages
    %meta{name: 'viewport', content: 'width=device-width'}/
    %link{:rel => 'stylesheet', :href=>'/css/app.css' }
  %body
    #container
      %h1= "~ iPhone Message Viewer ~"
      = yield